.width{
    width: 100%;
    background-color: #1916be;
    margin-bottom: 20px;
    height: 100px !important;
}
.text{
    color: #d9534f;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
.marvellogo {
    width: 150px !important;
    height:100px !important;
}