.name{
    font-size: 18px;
    color: white;
}
.footer{
    position: relative !important;
    bottom: 0 !important;
    width: 100% !important;
    background-color: #1916be;
    margin-top: 15px;
}